
.card{
  border-color: yellow;
  height: 100%;
  margin: 4px;
  .card-header{
    background-color: rgb(235, 235, 132);
  }
  .card-body{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
}
